{% load static mathfilters %}
<html lang="en">

<head>
  <title>Interest Statement</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="header">
    <img src="{% static 'statements/lasalle-logo.svg' %}" alt="xx">
    <div class="row-header">
      <div class="header-title">
        <h1 class="title">LaSalle Global Co-Invest</h1>
      </div>
      <div class="content address">
        <div>
          Dummy Address<br />
          Lorem Ipsum Sit Amet<br />
          Dummy Pin Dummy place
        </div>
      </div>
    </div>
  </div>

  <br />

  <div>
    <div class="row">
      <div class="row-name">Date:</div>
      <div class="row-value content">{{date}}</div>
    </div>
    <div class="row">
      <div class="row-name">Attention:</div>
      <div class="row-value content">{{investor}}</div>
    </div>
    <div class="row">
      <div class="row-name">Subject:</div>
      <div class="row-value content">Interest Statement - {{date}}</div>
    </div>
  </div>

  <br />

  <div class="text">
    Dear investor,<br /><br />
    We are pleased to present you with your {{quarter}} Interest Statement of the
    LaSalle Global Employee Co-Investment Fund LP.
  </div>

  {% for segment in segments %}
  <br />
  <section>
    <table style="border: 0px;">
      <tr>
        <td colspan="7">
          <p class="subheading">{{segment.investment}}</p>
        </td>
      </tr>
    </table>

    <table>
      {% for interest_rate in segment.interest_rates %}
      <tr class="total">
        <td class="total-title" colspan="6">Fixed Rate {{interest_rate.0}}</td>
        <td class="total-amount">{{interest_rate.1|mul:100|floatformat:"2"}}%</td>
      </tr>
      {% endfor %}
      <tr class="total">
        <td class="total-title" colspan="6">Currency</td>
        <td class="total-amount">{{segment.investment_currency}}</td>
      </tr>
    </table>

    <br />

    <table>
      {% if segment.statements %}
      <tr>
        <th>JLL Loan Balance</th>
        <th>Accrued Interest Brought Forward</th>
        <th>Loan + Accrued Interest</th>
        <th>From</th>
        <th>To</th>
        <th>Days</th>
        <th>Interest for the period</th>
      </tr>
      {% endif %}
      {% for statement in segment.statements %}
      <tr>
        <td>{{segment.investment_currency_symbol}}{{statement.loan_balance}}</td>
        <td>{{segment.investment_currency_symbol}}{{statement.accrued_interest}}</td>
        <td>{{segment.investment_currency_symbol}}{{statement.loan_plus_acc_interest}}</td>
        <td>{{statement.from_date}}</td>
        <td>{{statement.to_date}}</td>
        <td>{{statement.days}}</td>
        <td>{{segment.investment_currency_symbol}}{{statement.period_interest}}</td>
      </tr>
      {% endfor %}
      <tr class="total">
        <td class="total-title" colspan="6">Total Interest Due for the period</td>
        <td class="total-amount">{{segment.investment_currency_symbol}}{{segment.total_interest|floatformat:"2"}}</td>
      </tr>
      <tr class="total">
        <td class="total-title" colspan="6">Translation Rate at {{trans_rate_date}}</td>
        <td class="total-amount">{{segment.translation_rate}}</td>
      </tr>
      <tr class="total">
        <td class="total-title" colspan="6">Total Interest Due for the period converted to USD</td>
        <td class="total-amount">{{base_currency_symbol}}{{segment.total_interest|mul:segment.translation_rate|floatformat:"2"}}</td>
      </tr>
    </table>
  </section>
  {% endfor %}

  <div class="footer">
    <hr class="line-break" />
    <span style="font-size: 10px; font-weight: 700;">Generated by &nbsp;</span>
    <img src="{% static 'statements/sidecar-logo.svg' %}" alt="xx"
      style="vertical-align: text-bottom; padding-right: 20px;">
    <span class="content" style="font-size: 9px;">If you have any questions please do not hesitate to contact
      employeecoInvest@lasalle.com
    </span>
  </div>
</body>

</html>